@use "../abstracts" as *;

/* Header section */
.header {
  padding-top: 68px;

  background-color: $color-gray-light;

  @include md-min {
    padding-bottom: 141px;
  }
  @include md {
    padding-bottom: 70px;
  }
}
