@use "skin" as *;
@use "variables" as *;
@use "mixins-media" as *;

@mixin section() {
  text-align: center;

  @include md-min {
    padding-top: 110px;
    padding-bottom: 90px;
  }

  @include md {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__title {
    margin-bottom: 36px;
  }

  &__description {
    color: $color-secondary;

    line-height: $line-height;
  }
}
